/* General Body Styling */
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: #2b2b2b;
  color: #33FF00; /* Green text */
}

/* Container for centering */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

/* Styling the Terminal Window */
.terminal-window {
  background-color: black;
  border: 1px solid #333;
  width: 90%;
  max-width: 1000px;
  border-radius: 10px;
  overflow: hidden;
}

.terminal-header {
  display: flex;
  justify-content; space-between;
  align-items: center;
  background-color: #333;
  color: #33FF00;
  padding: 5px 10px;
  font-size: 1.2em;
  /*text-align: left;*/
}

/* CSS styling for the button */
.button {
    padding: 5px 50px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect */
.button:hover {
    color: green;
}

.terminal {
  padding: 3px;
  white-space: pre-wrap; /* Maintain formatting */
  word-wrap: break-word; /* Break long words */
  overflow-y: auto; /* Allow scrolling if necessary */
  height: 600px; /* Initial height */
  font-size: 1.4em;
  line-height: 1.4;
}
